
h1{
    color:brown; 
    border:solid;
    text-align: center;
}
body {
    
  margin-left: 10px;
margin-right: 10px;
margin-top: 10px;
background-color:rgb(14,32,59);
border: 2px solid white;
text-align: center;
background-image: url('bg.png');
width: 1000;
height: auto;
}
.image{
    color: black;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    background-color:goldenrod;
}
.image h2{
  position: absolute;
  top:40%;
  left: 80%;
  transform:translate(-50%,-50%);
  opacity:1;
}
.invite{
  color: white;
 
}
.full{
  background-color:rgb(14,32,59) ;
}
.in{
font-size: xx-large;
color: white;
}
.cd{
  font-size: x-large;
  color: white;
  }
  p{
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: xx-large;
  }
  .details{
    text-align: center;
    color: black;
    font-weight: bold;
  }
.countdown{
  color: white;
}
.steps:hover img{
    opacity:1;
    
}